@use "base/properties" as p;
@use "base/mixins" as m;

.employees-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;

    svg {
        flex-shrink: 0;
    }
}

.employees-list {
    display: grid;
    overflow: hidden;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    margin: 0;
    padding: 0;

    @include m.tablet {
        grid-auto-columns: calc( (100% / 2) - 10px );
    }

    @include m.desktopXXL {
        grid-auto-columns: calc( (100% / 2) - 10px );
    }

    &.dragging {
        user-select: none;
        cursor: grabbing;
        scroll-behavior: auto;

        .employee {
            cursor: grabbing;
        }
    }
}

.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lighten(p.$black, 5%);
    padding-block: 2rem;
    border-radius: 1.5rem;
    border: 3px solid lighten(p.$black, 10%);
    padding: 2rem 1.2rem;
    width: 100%;
    cursor: pointer;
    list-style: none;
    transition: background-color .3s ease-out;

    @include m.tablet {
        width: 30rem;
    }

    &:hover,
    &.selected {
        background-color: p.$blue;
        border: 3px solid p.$blue;
    }

    &__image {
        border-radius: 20rem;
        width: 8.5rem;
        height: 8.5rem;
        margin: 0 0 2rem 0;
        object-fit: cover;
    }

    &__name,
    &__role {
        margin: 0;
        text-align:center;
    }

    &__name {
        margin-bottom: 1rem;
        font-weight: p.$bold;
    }

    &__role {
        font-size: 2rem;
    }
}