// Fuentes
$principalFont: "Montserrat", sans-serif;

// Tamaño de Media Queries
$phoneSM: 350px;
$phone: 480px;
$tablet: 768px;
$desktopSM: 992px;
$desktop: 1024px;
$desktopXL: 1200px;
$desktopXXL: 1400px;

// Colores
$blue: darken(#0da6f3, 20%);
$red: #cb0000;
$green: darken(#329f00, 10%);
$black: #1a1b15;

$white: #FFFFFF;
$grey: #e1e1e1;

$gap: 5rem;

// Fuentes
$light: 300;
$regular : 400;
$bold: 700;
$bolder: 900