@use "properties" as p;

h1, h2, h3 {
    font-family: p.$principalFont;
    margin: 0 0 calc(p.$gap / 2) 0 ;
    font-weight: p.$bold;
    color: p.$white;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
p {
    color: p.$white;
    font-size: 2.4rem;
}
.page__name {
    text-align: center;
    margin: 5rem 0;
    font-weight: p.$bold;
}
.page__description {
    text-align: center;
    margin-bottom: p.$gap;
}
